streamlit
requests
pandas
html
BytesIO
datetime
docx
Pt
WD_ALIGN_PARAGRAPH
WD_ALIGN_VERTICAL
beautifulsoup4
calendar
time
re
parser
python-docx
python-dateutil
urllib.parse
cloudscraper
urllib3
lxml
selenium
undetected-chromedriver
setuptools
tabulate
